@model IEnumerable<TirriFashionWebJM.Models.Catalogo>

@{
    ViewData["Title"] = "Lista de Catalogos";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="text-right mb-3">

        <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
   
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Año de Fabricación</th>
            <th>Usuario</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>
                    @{
                        string urlBase64 = "";
                        if (item.Imagen != null && item.Imagen.Length > 0)
                        {
                            string base64String = Convert.ToBase64String(item.Imagen);
                            urlBase64 = "data:image/jpeg;base64," + base64String;
                        }
                    }
                    <img src="@urlBase64" width="50px" class="img-fluid" />
                </td>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => item.AñoFabricacion)</td>
                <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Nombre)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalles</a>
                    @if (User.IsInRole("Administrador"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
