@model IEnumerable<TirriFashionWebJM.Models.Categorium>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Administrador"))
    {
        <a class="btn btn-primary" asp-action="Create">Crear Nuevo</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Administrador"))
                    {
                        <span> |</span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                        <span> |</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>

